:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --main-bgc: #2f303a;
  --secondary-bgc: #e5e5e5;
  --third-bgc: #f5f4fa;
  --footer-adress-num-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
}

/* header */
.header {
  background-color: var(--white-color);
  font-style: normal;
}
/* logo webstudio */
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black-color);
}
.logo-accent {
  color: var(--accent-color);
}
/* nav-links */
.nav-list {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
/* header adress */
.address-list {
  list-style: none;
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.header-address:hover,
.header-address:focus {
  color: var(--accent-color);
}
/* Main */

/* hero */
.hero {
  background-color: var(--main-text-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}
